@model StoreApp.Models.Models.ProductModel

<div class="nav-link text-body hstack gap-3 p-4 bg-body-tertiary h-100 rounded">
    <div class="text-decoration-none text-body-secondary d-flex flex-column gap-1">
        <div class="w-100 flex mb-2">
            <img src="@Model.ImageUrl" class="bg-secondary img-thumbnail" />
        </div>
        <div class="d-flex flex-row justify-content-between">
            <span class="mb-1">@Model.Name</span>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-baseline">
            <span class="text-body">@Model.Price.ToString("c")</span>
            
           
        </div>
        <div class="d-flex flex-row justify-content-between align-items-baseline">
            <a asp-action="Details" asp-route-productId="@Model.Id" class="text-decoration-none text-body-secondary d-flex flex-column gap-1">
               Zobacz Więcej
             </a>
            <form asp-controller="ShoppingCart" asp-action="AddItem" asp-route-productId="@Model.Id">
                <input type="hidden" name="categoryID" value="@Model.Category.Id" />
                <button class="btn btn-outline-secondary btn-sm">
                    <i class="bi bi-cart"></i>
                </button>
            </form>
        </div>
    </div>
</div>

