@model ProductModel

<form>
    <div class="container row row-cols-2 p-5">
        <div class="col">
            <div class="d-flex flex-column gap-3">
                <div class="hstack gap-2">
                    <a asp-action="Index" class="text-decoration-none">
                        All Products
                    </a>
                    /<span class="text-body-secondary">@Model.Category.Name</span>
                </div>
                <h1 class="text-body">@Model.Name</h1>

                <div class="hstack gap-3">
                    <span>@Model.Price.ToString("c")</span>
                    |
                    <div >
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                    </div>
                </div>
                    @if(Model.Description != null)
                    {
                        <p class="text-body-secondary">
                            @Html.Raw(Model.Description)
                        </p>
                    }
                    else
                    {
                        <p class="text-body-tertiary">
                           *Brak opisu*
                        </p>
                    }
                <button class="btn btn-primary">
                    Add to card
                </button>
            </div>
        </div>
        <div class="col">
            <img src="@Model.ImageUrl" class="w-100 rounded"/>
        </div>
    </div>
</form>
